* {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
/* html {
    font-size:9.25925926vw;
} */
ul,li {
	list-style: none;
}

img {
	display: block;
}

html,body {
	height: 100%;
	overflow: hidden;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#main {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#content {
	flex: 1;
	overflow: auto;
	margin-bottom: 50px;
	position: relative;
	display: flex;
	flex-direction: column;
}